.total {
  position: relative;
  top: 10vw;
  width: 50vw;
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.image {
  position: absolute;
  height: 25vh;
  width: 25vw;
  top: 0;
  background-color: #d0d0d0;
}
.popup {
  font-size: 1rem;
  position: relative;
  top: 12vw;
  text-align: justify;
}
.comments {
  position: relative;
  top: 20vh;
  left: 15vw;
}
